/* Common Styling */
*{
    padding:0;
    margin:0;
}

body{
    text-align: center;
    background: rgb(92,87,172);
    background: linear-gradient(52deg, rgba(92,87,172,1) 0%, rgba(101,101,180,1) 50%, rgba(0,212,255,1) 100%);
    font-size:2rem;
    color:white;

}
ul{
    list-style: none;
}
button{
    width:70px;
    height: 50px;
    border:none;
    border-radius: 10%;
    margin:0.4rem;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
    background-color: #007bff;
   color:#d3d3d3;
}
button:hover{
    border-radius: 20%;
    background-color:rgba(255, 255, 255, 0.3);
    transition: border-radius 0.1s ease-in-out;
}

/* Main Container */
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem;

}
/* Alarm Container */
.container{
    width:800px;
    height:600px;
    background: rgba(255, 255, 255, 0.11);
    box-sizing: border-box;
    box-shadow: -30px 30px 20px rgba(0,0,0,0.3);
    border-radius:5%;
    backdrop-filter:blur(40px) rgba(0,0,0,0.2);
    position: relative;
}

/* Current Time */
.current-time{
    margin: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
   
}
.current-time span{
    font-size: 80px;
    width:80px;
    text-align: center;
    display: inline-block;
    color: #d3d3d3;
    position: relative;
    font-family: "poppins";
    padding:10px;
}

.current-time span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* Adding the Text Below the Time */
#hour::after{
    content:'Hour';
    font-size: 12px;
}

#minute::after{
    content:'Minutes';
    font-size:12px;
}
#seconds::after{
    content:'Seconds';
    font-size: 12px;
}
#period::after{
    content:'Period';
    font-size:12px;
}



/* Set Alarm */
.set-alarm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-box{
    width:70px;
    height: 40px;
    border:none;
    border-radius: 20%;
    padding:10px;
    margin:0.2rem;
    color:black;
    font-size: 15px;
}
.time-box span{
    font-size: 0.7em;
}

.period-box{
    width:90px;
    height: 60px;
    border:none;
    border-radius: 20%;
    padding:10px;
    margin:0.2rem;
    color:black;
    font-size: 15px;
    cursor:pointer;
}


.alarm-button{
    width:100px;
    height: 60px;
    border:none;
    border-radius: 15%;
    margin:0.4rem;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
}

/* Show Alarms */

.show-alarm{
text-align: start;
font-size: 1.5rem;
margin:2px;

}

#alarm-list li {
    display: flex;
    justify-content: space-around;
    width:100%;
    height:50px;   
    background: rgba(255,255,255,0.11);
    color:#fff;
    font-size:1.9rem;
    font-weight: 500;
    margin-top:2px;
    border:none;
    border-radius:10px;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-bottom:10px;
    backdrop-filter: blur(20px) rgba(0,0,0,0.2);
}
#alarm-list button{
   float:right;
   height:50px;
   width:70px;
   margin:0px;
   background-color: #007bff;
   border-radius:5px;
   
}
#alarm-list button:hover{
    background: rgba(255,255,255,0.3);
    border-radius:10px;
    transition: border-radius 0.1s ease-in-out;
}


/* Hr Tag Styling */

#section-1{
    border:0.5px dotted #d3d3d3;
}
#section-2{
    border:0.5px dotted #d3d3d3;
}

/* responsiveness at 480px and 769px for mobile Screens and Laptops */
@media screen and (max-width:480px){
    .container{
        width:100%;
        height: 100%;
        border-radius: 5%;
    }
    .current-time span{
       width:30px;
        font-size: 40px;
    }
    .time-box{
        width:30px;
        height: 30px;
    }
    .period-box{
        width:65px;
        height: 50px;
    }
    #alarm-list li{
width:100%;
    }
    #alarm-list button{
        width:70px;
        height: 50px;
    }
}
@media screen and (max-width:769px){
    .container{
        width:100%;
        height: 100%;
        border-radius: 5%;
    }
    .current-time span{
       width:40px;
        font-size: 40px;
    }
    .time-box{
        width:40px;
        height: 40px;
    }
    .period-box{
        width:65px;
        height: 60px;
    }
    #alarm-list li{
width:100%;
    }
    #alarm-list button{
        width:60px;
        height: 50px;
    }
}